body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.chip .logout{
  cursor: pointer;
  float: right;
  font-size: 16px;
  line-height: 32px;
  padding-left: 8px;
}
.tabs .tab a:hover {
  background: #e3f2fd;
}
nav{
  margin-bottom: 10px;
}
.collection .collection-item.avatar .title {
  font-size: 19px;
}

.imgcenter {
display: block;
margin-left: auto;
margin-right: auto;
width: 30%;
border-radius: 50%;
}

#modded .progress {
  min-height: 36px;
  overflow: hidden;
  position: relative;
  }
  #modded span {
  position: relative;
  float:left;
  color: #fff;
  padding: 8px;
  z-index: 99999;
  }
  #modded .determinate {
    width: 0;
    transition: width 1s ease-in-out;
    padding: 8px;
    position: relative;
    color: #fff;
    text-align: right;
    white-space: nowrap;
  }